<h1>Quiz Details</h1>

<p><strong>Enrollment Date:</strong> <%= quiz.enrollment_date %></p>
<p><strong>User:</strong> <%= quiz.user.first_name %></p>
<p><strong>User:</strong> <%= quiz.user.last_name %></p>
<p><strong>Course:</strong> <%= quiz.course.title %></p>

<% quiz.questions.each.with_index(1) do |question, index| %>
  <h2>Question <%= index %></h2>
  <p><strong>Question:</strong> <%= question.question_text %></p>
  <p><strong>Choices:</strong></p>
  <ul>
    <li><%= question.choice_one %></li>
    <li><%= question.choice_two %></li>
    <li><%= question.choice_three %></li>
    <li><%= question.choice_four %></li>
  </ul>
  <p><strong>Correct Answer:</strong> <%= question.correct_answer %></p>
  <p><strong>Your Answer:</strong> <%= question.user_choice %></p>
<% end %>
