<h1>Quiz Details</h1>

<p>Enrollment Date: <%= @quiz.enrollment_date %></p>

<div>
  <form action="<%= answers_path(@quiz, @answer) %>" method="post">
    <% @quiz.questions.each.with_index(1) do |question, index| %>
      <h2>Question <%= index %></h2>
      <p><strong>Question:</strong> <%= question.question_text %></p>
      <p><strong>Choices:</strong></p>

      <select name="answer[user_choice][]">
        <option value="">Select an answer</option>
        <option value="<%= question.choice_one %>"><%= question.choice_one %></option>
        <option value="<%= question.choice_two %>"><%= question.choice_two %></option>
        <option value="<%= question.choice_three %>"><%= question.choice_three %></option>
        <option value="<%= question.choice_four %>"><%= question.choice_four %></option>
      </select>

      <input type="hidden" value="<%= question.id %>" name="answer[question_id][]">

    <% end %>
    <button type="submit">Submit</button>
  </form>
</div>
