<%= stylesheet_link_tag 'components/quiz' %>

<div class="container Qtitle">
  <h1 class="mt-4 mb-4">Quiz questions</h1>

  <p>Enrollment Date: <%= @quiz.enrollment_date %></p>
  <p>Course: <%= @quiz.course.title %></p>
  <p>Student: <%= current_user.first_name %> <%= current_user.last_name %></p>

  <div class="cont">
    <form action="<%= answers_path(@quiz, @answer) %>" method="post">
      <% @quiz.questions.each.with_index(1) do |question, index| %>
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title">Question <%= index %></h2>
            <p class="card-text"><strong>Question:</strong> <%= question.question_text %></p>
            <p class="card-text"><strong>Choices:</strong></p>

            <select class="custom-select mb-2" name="answer[user_choice][]">
              <option value="">Select an answer</option>
              <option value="<%= question.choice_one %>"><%= question.choice_one %></option>
              <option value="<%= question.choice_two %>"><%= question.choice_two %></option>
              <option value="<%= question.choice_three %>"><%= question.choice_three %></option>
              <option value="<%= question.choice_four %>"><%= question.choice_four %></option>
            </select>

            <input type="hidden" value="<%= question.id %>" name="answer[question_id][]">
          </div>
        </div>
      <% end %>

      <div class="button-container">
          <%= link_to 'Exit Quiz', courses_path, class: 'btn btn-primary btn-exit' %>

          <button type="submit" class="btn btn-primary">Submit</button>

      </div>
    </form>
  </div>
</div>
