<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1498189263721-d42d6bcc2ad1?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1>FunQuest <strong>your way</strong> to <strong>embark</strong> the working field!</h1>
    <p>Master the Art of Communication with FunQuest Courses".</p>
      <%= link_to 'Apply now', new_user_session_path, class: 'btn btn-flat' %>
  </div>
</div>

<div class="container-card">
  <% @courses.each do |course| %>
    <div class="card">
      <div class="box">
        <div class="content">
          <h2>0<%= course.id %></h2>
          <h3><%= course.title %></h3>
          <p><%= course.length %> weeks</p>
          <a href="<%= course_path(course) %>">Read More</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
