  <link rel="stylesheet" href="app/assets/stylesheets/config/_fonts.scss">


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/djesiex6g/image/upload/v1707339394/1711_i047_024_s_qrxmwh.jpg);">
  <div class="container" style="text-align: left; padding-left: 20px; margin-left: 20px;">
    <h1>FunQuest <strong>your way</strong> to <strong>embark</strong> the working field!</h1>
    <br>
      <%= link_to 'Apply now', new_user_session_path, class: 'btn btn-flat' %>
  </div>
</div>

<div class="container-card d-flex flex-row justify-content-around">
  <% @courses.each do |course| %>
    <%= link_to course_path(course) do %>
      <figure>
        <div class="date">
          <span class="card-date-day"><%= course.length %> weeks</span>
        </div>
        <figcaption>
          <h5>
            <span><%= course.title %></span>
          </h5>
          <p>
            <%= course.description %>
          </p>
        </figcaption>
      </figure>
    <% end %>
  <% end %>
</div>


  <div class="testimonial-container">
   <h1> Testimonials</h1>
  <div class="notification">
    <img src='https://avatars.githubusercontent.com/u/153495936?v=4' class="avatar-large" />
    <div class="notification-content">
      <p><small>14th January</small></p>
      <p class="text">This app has revolutionized my study routine. With its user-friendly interface and comprehensive features, I've been able to organize my notes, create flashcards, and even quiz myself on the go. The ability to sync across devices ensures that I can pick up right where I left off, whether I'm on my laptop or smartphone. Highly recommended for students of all levels!</p>
    </div>
  </div>
  <div class="notification">
    <img src='https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1702546897/c53gm9offccgqrf9hvbi.jpg' class="avatar-large"/>
    <div class="notification-content">
      <p><small>9th January</small></p>
      <p class="text">As someone who struggles to stay focused while studying, this app has been a lifesaver. The Pomodoro timer feature keeps me on track and prevents burnout, while the built-in task manager helps me prioritize my workload effectively. Plus, the integration with popular calendar apps ensures that I never miss a deadline. It's like having a personal study coach in my pocket!</p>
    </div>
  </div>
   <div class="notification">
    <img src='https://kitt.lewagon.com/placeholder/users/sarahlafer' class="avatar-large"/>
    <div class="notification-content">
      <p><small>6th January</small></p>
      <p class="text">I've tried several soft skills apps before, but this one stands out. The user interface is clean and intuitive, making navigation a breeze. The content is comprehensive, covering a wide range of topics from emotional intelligence to conflict resolution. I appreciate the real-life scenarios and case studies that help apply the concepts learned. Definitely worth the download!</p>
    </div>
  </div>
</div>
