<%= stylesheet_link_tag 'components/course_index' %>

  <div class="container">
    <h1><strong>Courses</strong></h1>
    <div class="row justify-content-center">
      <div class="col">
        <div class="ag-courses_box ">
          <% @courses.each do |course| %>
            <div class="ag-courses_item">
              <a href="<%= course_path(course) %>" class="ag-courses-item_link">
                <h2 class="ag-courses-item_title"><%= course.title %></h2>
                <p><%= course.description %></p>
                <p class="ag-courses-item_date-box"><span class="ag-courses-item_date"><%= course.length %> weeks</span></p>
                <button class="btn btn-light">Enroll now</button>
                <div class="ag-courses-item_bg"></div>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
